* {
  margin: 0;
  padding: 0;
}

.box {
  height: 100px;
  width: 100px;
}

/* position fixed */
/* element moves in relation to the viewport */
/* element doesn't remains part of document flow */

.b1 {
  background-color: turquoise;
  position: fixed;
  bottom: 0;
  left: 0;
}
.b2 {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: wheat;
}
.b3 {
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 0;
}
.b4 {
  background-color: mediumaquamarine;
  position: fixed;
  top: 0;
  right: 0;
}
