* {
  margin: 0;
  padding: 0;
}

#parent {
  background: #333;
  height: 500px;
  width: 500px;
  position: relative;
}

.box {
  height: 100px;
  width: 100px;
}

/* position absolute */
/* element moves in relation to the viewport (by default) , but can be changed (by giving a position to the parent) */
/* element doesn't remains part of document flow */

.b1 {
  background-color: turquoise;
}
.b2 {
  background-color: wheat;
  position: absolute;
  bottom: 0;
  right: 0;
}
.b3 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: tomato;
}
.b4 {
  background-color: mediumaquamarine;
}
